.geom-tipo {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
#poster-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Geom", sans-serif;
}
#poster {
  display: grid;
  width: 400px;
  height: 550px;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: repeat(8, 12.5%);
}

#poster > div {
  color: black;
}
#yellow {
  background-color: rgb(255, 217, 0);
  grid-area: 1/1/2/4;
  padding-left: 25px;
  align-items: center;
  display: grid;
  line-height: 0.9;
}
#dark-green {
  background-color: rgb(29, 136, 47);
  grid-area: 2/1/3/3;
  padding-left: 25px;
  align-items: center;
  display: grid;
  line-height: 0.9;
}
#grey {
  background: url("assets/grey.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 2/3/4/4;
  position: relative;
  font-size: 7.5px;
  line-height: 1.1;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

#grey span {
  position: absolute;
  transform: rotate(180deg);
  bottom: 6px;
  left: 6px;
}
#violet {
  background-color: rgb(230, 0, 255);
  grid-area: 3/1/4/3;
  padding-left: 25px;
  align-items: center;
  display: grid;
  line-height: 0.9;
}
#blue {
  background: url("assets/azul.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 4/1/6/2;
}
#green {
  background-color: rgb(42, 159, 42);
  grid-area: 6/1/9/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 75px 10px 15px 33px;
}
#pink {
  background: url("assets/rosa.svg") center/cover no-repeat;
  grid-area: 7/2/9/3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 2px 5px 7px;
}

#pink .fecha {
  align-self: flex-start;
}

#pink .hora {
  margin-top: auto;
  align-self: flex-end;
  padding-right: 5px;
}
#dark-blue {
  background-color: blue;
  grid-area: 6/3/9/4;
}
#empty-violet {
  background-color: rgb(230, 0, 255);
  grid-area: 4/2/6/4;
}
#empty-green {
  background-color: rgb(42, 159, 42);
  grid-area: 6/2/7/3;
}
